<%
	alert_classes = {
		:success => 'alert alert-success',
		:notice  => 'alert alert-info',
		:error   => 'alert alert-danger',
		:warning => 'alert alert-warning'
	}
%>

<% flash.each do |name, msg| %>
  <%= content_tag :div, class: alert_classes[name.to_sym] do %>
  	<%= msg %>
  	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <% end %>
<% end %>