.row
  .col-md-4.visible-lg-block.visible-md-block
    .media
      .media-left
        a href="#" 
          .logo
            = image_tag 'logo.jpg', size: '128x128', class: 'media-object'
  .col-md-8
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed aria-expanded="false" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button" 
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand href="#"  Ecommerce
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a href="/home" 
                | Home
                span.sr-only (current)
            li
              a href="/products"  Gallery
            li
              a href="/products"  Checkout
          ul.nav.navbar-nav.navbar-right
            li
              a href="/basket" 
                | Basket
                strong.text-danger
                  |&nbsp;(#{session[:basket].blank? ? '0' : (session[:basket].count > 0 ? session[:basket].count : '0')})
            li
              a href="/contact"  Contact Us
            li
              a href="/about"  About Us
