// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.logo {
    background-color: #FFF;
    border-style: solid;
    max-width: 134px;
    max-height: 134px;
    margin-left: 50px;
    min-height: 134px;
    min-width: 134px;
}

.mywrapper {
	background-color: #d4d6d7;
    background-image: -webkit-gradient(radial, 50% 500px, 0, 50% 500px, 400, color-stop(0%, #fff), color-stop(50%, #f2f3f4), color-stop(100%, #d2d4d5));
    background-image: -webkit-radial-gradient(center 500px, ellipse closest-side, #fff,#f2f3f4 200px,#d2d4d5 400px);
    background-image: -moz-radial-gradient(center 500px, ellipse closest-side, #fff,#f2f3f4 200px,#d2d4d5 400px);
    background-image: -o-radial-gradient(center 500px, ellipse closest-side, #fff,#f2f3f4 200px,#d2d4d5 400px);
    background-image: -ms-radial-gradient(center 500px, ellipse closest-side, #fff,#f2f3f4 200px,#d2d4d5 400px);
    background-image: radial-gradient(center 500px, ellipse closest-side, #fff,#f2f3f4 200px,#d2d4d5 400px);
    display: block;
    position: relative;
    min-height: 1020px;
}