.row
  .panel.panel-default
    .panel-heading Gallery
    .panel-body
      = simple_form_for :category, url: products_path, :method => :get do |f|
        .col-xs-12
          = f.label "Catergories:", required: false
        .col-xs-6
          = f.input :category_id, collection: @categories.pluck(:name, :id), selected: @category_id, label: false, include_blank: "All"
        = f.submit "Filter", class: 'btn btn-primary'
      br
      - @products.each do |product|
        = simple_form_for :product, url: product_add_to_basket_path(product), method: :post do |f|
          .col-sm-4.col-md-3
            .panel.panel-primary.thumbnail
              = image_tag product.url, size: '242x200'
              .caption
                h3= product.name
                p
                  = product.price
                  | &nbsp;$
                p
                  = product.description[0..200]
                  = f.input :amount, input_html: { value: 1 }
                p
                  = link_to "Info", product, class: "btn btn-primary"
                  | &nbsp;
                  / = link_to "Add to basket", product_add_to_basket_path(product), class: "btn btn-warning"
                  = f.submit "Add to Basket", class: "btn btn-warning"
.row.text-center
  = will_paginate @products, renderer: BootstrapPagination::Rails
